* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.body__container {
    max-width: 965px;
    margin-right: auto;
    margin-left: auto;
}

.body__container--details {
    max-width: 973px;
}


.header {
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 85px;
    align-items: center;

    background-color: #FFFFFF;
}

.header__search-label {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 12px;
    margin-left: 300px;
}

.header__search-input {
    border: none;
}

.header__search-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}

.header__navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
    text-decoration: none;

}

.details {
    position: relative;

    padding-bottom: 58px;
}

.marketing {
    display: flex;
    height: 467px;
    align-items: center;

    font-family: 'Inter', sans-serif;

    background-color: #FBFBFB;
}

.marketing__container {
    width: 100%;
    height: 323px;
    padding-left: 60px;

    background-image: url('../img/croods.png');
    background-repeat: no-repeat;
    background-position: bottom 0px right 35px;
    /* т.к. картинка с тремя чуваками дизайнерская и не несёт особого смысла (или я неуловил глубину мысли дизайнера. В реальном рабочем проекте я бы у него уточнил), то сделал её фоновой. Скринридер её пропустит.  */
}

.marketing__title {
    width: 360px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 55px;

    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;

    background-image: url('../img/coffee.png');
    background-repeat: no-repeat;
    background-position: bottom 0px right 76px;
    /* т.к. картинка с чашкой кофе подкрепляющая фразу, как небольшой элемент дизайна (как я понял такой заменитель точки во фразе "Make better coffee"), то сделал её фоновой. Скринридер её пропустит. А то "делайте лучше кофе чашка кофе, как то нелепо будет в озвучке ИМХО  */
}

.marketing__text {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
}


.articles {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding: 40px 0;
}

.articles__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;

    overflow: hidden;
    /* скорее всего дизайнер забыл сделать симетричное скругление в блоках 5px. Я добавил, чтобы у картинки тоже скруглялись и смотрелась внутри блока. Если это была такая задумка, можно удалить overflow: hidden;, но без неё не целостно смотрится. */
}

.articles__item--top {
    display: flex;
    flex-direction: row-reverse;

    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;


    background: #FFFFFF;
}

.articles__content-wrapper {
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 0;
    padding-left: 16px;
}

.articles__content-wrapper--top {
    padding-top: 41px;
    padding-right: 74px;
    padding-left: 54px;
}

.articles__content-wrapper--main {
    padding-top: 98px;
    padding-right: 66px;
    padding-left: 63px;
}

.articles__title {
    margin-top: 0;
    margin-bottom: 16px;

    color: #2D3748;
}

.articles__title--top {
    margin-bottom: 27px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.articles__title--main {
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.articles__text {
    margin-top: 0;
    margin-bottom: 22px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #718096;

}

.articles__text--top {
    margin-bottom: 30px;
}

.articles__text--main {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}

.articles__time {
    margin-bottom: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #718096;

    float: left;
}

.articles__time--main {
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
}

.articles__link {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #2D3748;

    text-decoration: none;
    float: right;
}

.articles__link--main {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.articles__grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 33px;
}

.articles__item--main {
    display: flex;
    height: 500px;
    flex-direction: row-reverse;
    background-color: #F7FAFC;

    box-shadow: none;
    border-radius: 0;
}


.articles__more-button {
    display: flex;
    gap: 9px;
    align-self: flex-end;
    align-items: center;
    width: fit-content;
    padding: 9px 11px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    background: #6B46C1;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.articles__more-button-icon {
    display: block;
}

.details__container {
    max-width: 765px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Inter', sans-serif;
}

.details__img {
    display: block;
    margin-bottom: 42px;
}

.details__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #2D3748;
}

.details__written-wrap {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 38px;

    border-bottom: 1px solid #E8E7E7;
}

.details__written {
    min-width: 203px;
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #2D3748;
}

.details__date {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #718096;
}

.details__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #718096;
}

.details__text--italic-bold {
    font-style: italic;
    font-weight: 700;
    color: #2D3748;
}

.details__second-title {
    margin-top: 36px;
    margin-bottom: 36px;

    font-size: 30px;
    line-height: 36px;
}

.details__button {
    position: absolute;
    right: calc(50% - 500px);
    bottom: 90px;
}

.footer {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80px;

    border-top: 1px solid #E8E8E8;

    font-family: 'Inter', sans-serif;
}

.footer__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;


    background-color: #FFFFFF;
}

.footer__copyright {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #000000;
}

.footer__navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}